input#discriminator {
	@apply w-full md:w-16;
}

form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

div.backdrop {
	position: relative;
	background: url('https://cdn.stocksnap.io/img-thumbs/960w/beautiful-sunset_FPWCPEUOJY.jpg') center/cover no-repeat;
}

div.watermark {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: rgba(255, 255, 255, 0.5);
	font-size: 14px;
	padding: 5px;
}

div.field-full {
	width: 100%;
}

div.field-wrapper {
	@apply flex flex-col md:flex-row gap-x-4;
}

button {
	width: 100%;
}

div.card {
	@apply w-full h-full md:w-[600px] md:h-fit overflow-y-auto;
}