div.app {
  height: 100%;
  display: flex;
  flex-grow: 0;
  border-top-left-radius: 20px;
}

div.header {
  width: 100%;
  height: 60px;
  padding: 1rem;
  border-bottom: 1px solid hsl(var(--border));

  h1 {
    color: hsl(var(--muted-foreground));
    font-weight: 500;
    font-size: 20px;
  }
}

div.space-list {
  width: 80px;
  flex-grow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  background: hsl(var(--server-list));
  align-items: center;
  padding-top: 5px;
  padding-bottom: 10px;
  overflow: hidden;

  button {
    width: 60px;
    height: 60px;
    background: hsl(var(--app-view));
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 53px;
      height: 53px;
      aspect-ratio: "1:1";
      border-radius: 100%;
      object-fit: cover
    }

    img.space {
      aspect-ratio: "1:1";
      border-radius: 100%;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.primary {
      svg {
        color: hsl(var(--primary)); 
        width: 32px;
        height: 32px;
      }
    }
  }

  div.seperator {
    width: 75%;
    height: 3px;
    background: hsl(var(--seperator));
    border-radius: 1rem;
  }

  div.spaces {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y: auto;
    flex-grow: 1;
    scroll-behavior: auto;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

div.room-list {
  width: 290px;
  min-height: 100%;
  background: hsl(var(--room-list));
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;

  &[electron="true"] {
    div.header {
      border-top-left-radius: 20px;
    }
  }

  div.seperator {
    width: 100%;
    height: 4px;
    margin-top: 7px;
    background: hsl(var(--seperator));
    border-radius: 1rem;
    width: 90%;
    margin-left: 5%;
  }

  div.tab-list {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    padding: .5rem;

    a {
      width: 100%;
      height: 53px;
      background: transparent;
      display: flex;
      column-gap: 10px;
      align-items: center;
      padding-left: 18px;
      padding-right: 18px;
      border-radius: 5px;
      color: hsl(var(--muted-foreground));

      &:hover {
        background: hsl(var(--background));
        opacity: 0.5;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      &[active="true"] {
        background: hsl(var(--background));
        opacity: 1;
        color:white;
      }
    }
  }


   ul.private-messages {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 1rem;
      overflow-y: auto;
      overflow-x: hidden;
      color: hsl(var(--muted-foreground));

      a[active="true"] {
        li.private-message {
          background: hsl(var(--background));
          opacity: 1;
          color:white;
        }
      }

      li.private-message {
        width: 100%;
        height: 53px;
        background: transparent;
        display: flex;
        column-gap: 10px;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        padding-bottom: 1px;
        padding-top: 1px;
        margin-bottom: 5px;
        color: hsl(var(--muted-foreground));
        overflow-y: hidden;
        overflow-x: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        img {
          width: 43px;
          height: 43px;
          aspect-ratio: "1:1";
          border-radius: 100%;
          object-fit: cover
        }

        span {
          overflow: hidden;
        }

        .user-status {
          white-space: nowrap;
          color: gray;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:hover {
          background: hsl(var(--background));
          opacity: 0.5;
        }
      }
    }
}

div.app-view {
  background: hsl(var(--app-view));
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  
  &[room_list_hidden="true"] {
    border-top-left-radius: 20px;
  }

  div.header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: hsl(var(--muted-foreground));
    
    svg {
      width: 20px;
      height: 20px;

      &:hover {
        cursor: pointer;
        filter: brightness(125%);
      }
    }
  }

  div.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

ul.messages {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

div.chat-input-container {
  max-height: 50vh;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  // padding-top: 5px;
  margin-bottom: 10px;

  div.chat-input {
    width: 100%;
    background: hsl(var(--chat-input));
    border-radius: 10px;

    [contenteditable="true"]:empty:before {
      content: attr(placeholder);
      color: grey;
      cursor: text;
    }

    div.chat-input-middle {
      height: inherit;
      outline: none;
      font-size: medium;
      padding: 10px;
    }
  }
}

div.titlebar {
    -webkit-app-region: drag;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}