@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: hsl(0, 0%, 8%);
  --button-primary: #737d3c;
  --button-danger: rgb(255, 128, 128);
  --spaces-list-background: hsl(0, 0%, 8%);
  --rooms-list-background: hsl(0, 0%, 12%);
  --chat-background: hsl(0, 0%, 15%);
  --chat-header-text: white;
  --chat-header-background: hsl(0, 0%, 15%);
  --ui-card: hsl(0, 0%, 20%);
  --ui-card-2: hsl(0, 0%, 10%);
  --ui-input: var(--ui-card-2);
  --ui-context-menu: hsl(0, 0%, 5%);
  --ui-context-menu-hover: hsl(0, 0%, 10%);
  --ui-context-menu-text: hsl(0, 0%, 95%);
  --ui-settings-sidebar: hsl(0, 0%, 12%);
  --ui-settings: hsl(0, 0%, 15%);
  --ui-settings-active: hsl(0, 0%, 20%);
  --ui-settings-hover: hsl(0, 0%, 17%);
  --ui-settings-text: hsl(0, 0%, 75%);
  --ui-backdrop: rgba(13, 13, 13, 0.75);
  user-select: none;
}

div#app-root {
  width: 100vw;
  height: 100vh;
  background: var(--background-main);
}

button.primary {
  background: var(--button-primary);
}

button.danger {
  background: var(--button-danger);
}

img.avatar {
  border-radius: 50%;
}

main.layout {
  width: 100%;
  height: 100%;
  display: flex;

  div.spaces {
    width: 4rem;
    min-height: 100%;
    background: var(--spaces-list-background);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;

    div.avatar {
      width: 3rem;
      height: 3rem;
      margin-top: 0.25rem;

      a {
        border-radius: 100%;
      }

      img {
        border-radius: 50%;
        background-color: black;
        border: solid #2F3136;
        content: "text";
      }
    }
    div.spacebar {
      width: 35px;
      height: 2px;
      background-color: #2F3136;
      opacity: 30;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: auto;
      margin-left: auto;
      border-radius: 4px;
    }
    ul.spaces {
      width: 3rem;
      min-height: 100%;
      background: var(--spaces-list-background);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      align-items: center;
      margin-bottom: 0.5rem;
      margin-right: auto;
      margin-left: auto;
    }
  }

  ul.rooms {
    width: 13.5rem;
    min-height: 100%;
    background: var(--rooms-list-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0.75rem;
    

    div.header {
      width: 100%;
      height: 3rem;
      background: var(--rooms-list-background);
      box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      font-size: large;
      color: var(--chat-header-text);
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0;
      border-top-left-radius: 0.75rem;
    }

    li {
      margin-top: 0.5rem;
      width: 90%;
      padding-top: 0.5rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;      
      gap: 0.75rem;
      cursor: pointer;

      &:hover {
        background: var(--ui-settings-hover);
      }

      &.active {
        background: var(--ui-settings-active);
      }

      span.icon {
        color: white;

        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }

      span.content {
        color: white;
      }
    }
  }

  div.home {
    width: 100%;
    min-height: 100%;
    overflow: auto;

    div.header {
      width: 100%;
      height: 3rem;
      background: var(--chat-background);
      font-size: large;
      color: var(--chat-background);
      display: flex;
      box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  div.chat {
    width: calc(100% - 17.5rem);
    min-height: 100%;
    background: var(--chat-background);
    overflow: auto;

    div.header {
      width: 100%;
      height: 3rem;
      background: var(--chat-header-background);
      font-size: large;
      color: var(--chat-header-text);
      display: flex;
      box-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;

      h1.title {
        border-right-width: 1px;
        border-right-color: rgb(107 114 128);
        padding-right: 1rem;
      }

      div.tabs {
        display: flex;
        gap: 1rem;
        padding-left: 1rem;

        button {
          padding: 0.25rem;
          border-radius: 0.5rem;

          &:hover {
            background: var(--ui-settings-hover)
          }

          &.active {
            background: var(--ui-settings-active);
          }

          &.add-friend {
            background: var(--button-primary);
          }
        }
      }
    }

    div.body {
      width: 100%;
      height: calc(100% - 3rem);
    }
  }
}

// Context Menu Stuff
div[data-radix-popper-content-wrapper] {
  background: var(--ui-context-menu);
  color: var(--ui-context-menu-text);
  border-radius: 6px;

  div {
    border: none;

    div[role="menuitem"] {
      outline: none !important;
      cursor: pointer;
      transition-duration: 500ms;

      &:hover {
        background: var(--ui-context-menu-hover);
      }
    }
  }
}

div.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  div.backdrop {
    background: var(--ui-backdrop);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.card {
      padding: 1rem;
      background: var(--ui-card);
      border-radius: 7px;

      h1.title {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.1rem;
      }

      input {
        background: var(--ui-input);
        border-radius: 5px;
        border: 1px solid var(--button-primary);
        color: white;
      }

      button {
        border-radius: 5px;
        color: white;
      }
    }

    div.card-2 {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background: var(--ui-card-2);
      border-radius: 7px;

      button {
        border-radius: 5px;
        color: white;
        padding: 0.25rem;
      }
    }
  }

  div.no-backdrop {
    background: var(--ui-settings);
    width: 100%;
    height: 100%;
  }

  div.wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    div.sidebar {
      background: var(--ui-settings-sidebar);
      width: 17.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      overflow-y: auto;

      ul {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
          font-size: large;
          text-transform: capitalize;
          color: var(--ui-settings-text);
          padding: 0.25rem 0.5rem 0.25rem 0.5rem;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background: var(--ui-settings-hover);
          }

          &.active {
            background: var(--ui-settings-active);
          }
        }
      }
    }

    div.settings {
      background: var(--ui-settings);
      height: 100%;
      width: calc(100% - 17.5rem);

      div.header {
        width: 100%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;

        h1.title {
          color: var(--chat-header-text);
          font-size: large;
          text-transform: uppercase;
          font-weight: bold;
        }

        svg.close {
          fill: var(--button-primary);
          transform: scale(1.25);
        }
      }

      div.body {
        width: 100%;
        height: calc(100% - 2.5rem);
        overflow-y: auto;
        overflow-x: hidden;
        // padding-left: 2.5rem;
        // padding-right: 2.5rem;
        padding: 1rem 2.5rem 1rem 2.5rem;

        div.account-card {
          width: 100%;
          display: flex;
          flex-direction: column;

          div.banner-container {
            width: 100%;
            height: 6rem;
            margin-top: 1rem;
            position: relative;

            div.wrapper {
              width: 100%;
              height: 100%;

              div.banner {
                width: 100%;
                height: 100%;
                border-top-left-radius: 0.75rem;
                border-top-right-radius: 0.75rem;
              }
            }
          }

          div.header {
            display: flex;
            margin-left: 1rem;
            margin-right: 1rem;

            div.placeholder {
              position: absolute;
              top: 4rem;
              border-radius: 100%;
              border: var(--ui-card) 0.5rem solid;
              background: black;
              width: 80px;
              height: 80px;              
            }


            img.avatar {
              position: absolute;
              top: 4rem;
              border-radius: 100%;
              border: var(--ui-card) 0.25rem solid;              
            }
          }

          p.username {
            position: absolute;
            left: 7.75rem;
            top: 6.5rem;
            color: white;
            font-size: x-large;
          }

          div.body {
            width: 100%;
            height: 12rem;
            background: var(--ui-card);
          }
        }
      }
    }
  }
}