@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: hsl(0, 0%, 8%);
  --button-primary: #737d3c;
  --button-danger: rgb(255, 128, 128);
  --danger: hsl(0, 78%, 50%);
  --spaces-list-background: hsl(0, 0%, 8%);
  --rooms-list-background: hsl(0, 0%, 12%);
  --skeleton-background-primary: hsl(0, 0%, 15%);
  --skeleton-background-secondary: hsl(0, 0%, 20%);
  --chat-background: hsl(0, 0%, 15%);
  --chat-header-text: white;
  --chat-header-background: hsl(0, 0%, 15%);
  --chat-input: #3c3c3c;
  --ui-card: hsl(0, 0%, 20%);
  --ui-card-2: hsl(0, 0%, 10%);
  --ui-input: var(--ui-card-2);
  --ui-context-menu: hsl(0, 0%, 8%);
  --ui-context-menu-hover: hsl(0, 0%, 10%);
  --ui-context-menu-text: hsl(0, 0%, 95%);
  --ui-settings-sidebar: hsl(0, 0%, 12%);
  --ui-settings: hsl(0, 0%, 15%);
  --ui-settings-active: hsl(0, 0%, 20%);
  --ui-settings-hover: hsl(0, 0%, 17%);
  --ui-settings-text: hsl(0, 0%, 75%);
  --ui-backdrop: rgba(13, 13, 13, 0.75);
  --text-primary: rgb(255, 255, 255);
  --text-secondary: rgb(100, 100, 100);
  --text-tertiary: rgb(150, 150, 150);
  --scrollbar-track: rgba(255,255,255,0);
  --scrollbar-thumb: var(--button-primary);
  user-select: none;
}

.font-cario {
  font-family: 'Cario', sans-serif;
}

div.skeleton {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

div#app-root {
  width: 100vw;
  height: 100vh;
  background: var(--background-main);
}

button.primary {
  background: var(--button-primary);
}

button.danger {
  background: var(--button-danger);
}

img.avatar {
  border-radius: 50%;
  aspect-ratio: 1/1;
}

img.avatar_modal {
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: #1f1f1f 0.4rem solid;
}

div.reply-popup {
  background: hsl(0, 0%, 20%);
  color:white;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  border-radius: 0.75rem;
  padding: 0.5rem;

  span.icon {
    color: var(--text-primary);

    svg {
      width: 20px !important;
      height: 20px !important;
      cursor: pointer;
    }
  }
}

main.layout {
  width: 100%;
  height: 100%;
  display: flex;

  div.spaces {
    width: 4rem;
    min-height: 100%;
    background: var(--spaces-list-background);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    align-items: center;

    div.avatar {
      width: 3rem;
      height: 3rem;
      margin-top: 0.25rem;

      a {
        border-radius: 100%;
      }

      img {
        border-radius: 50%;
        background-color: black;
        border: solid #2f3136;
        content: "text";
      }
    }

    div.spacebar {
      width: 35px;
      height: 2px;
      background-color: #2f3136;
      opacity: 30;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-right: auto;
      margin-left: auto;
      border-radius: 4px;
    }

    ul.spaces {
      width: 3rem;
      min-height: 100%;
      background: var(--spaces-list-background);
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      overflow-x: hidden;
      align-items: center;
      margin-bottom: 0.5rem;
      margin-right: auto;
      margin-left: auto;
    }
  }

  ul.rooms-wrapper {
    width: 13.5rem;
    height: 100%;
    background: var(--rooms-list-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 0.75rem;

    div.header {
      width: 100%;
      height: 3rem;
      background: var(--rooms-list-background);
      box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
        0 2px 0 rgba(4, 4, 5, 0.05);
      border-bottom-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
      font-size: large;
      color: var(--chat-header-text);
      display: flex;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0;
      border-top-left-radius: 0.75rem;
    }

    div.rooms-container {
      width: 100%;
      height: calc(100% - 3rem);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      &::-webkit-scrollbar { 
        width: 0.10rem;
      }

      &::-webkit-scrollbar-thumb { 
        background: var(--scrollbar-thumb);
        border-radius: 5rem;
      }

      &::-webkit-scrollbar-track { 
        background: var(--scrollbar-track);
        border-radius: 5rem;
      } 

      &::-moz-scrollbar {
        width: 0.5rem;
      }

      &::-moz-scrollbar-thumb { 
        background: var(--scrollbar-thumb);
        border-radius: 5rem;
      }

      &::-moz-scrollbar-track { 
        background: var(--scrollbar-track);
        border-radius: 5rem;
      } 
      
      &::-ms-scrollbar {
        width: 0.5rem;
      }

      &::-ms-scrollbar-thumb { 
        background: var(--scrollbar-thumb);
        border-radius: 5rem;
      }

      &::-ms-scrollbar-track { 
        background: var(--scrollbar-track);
        border-radius: 5rem;
      } 
    }

    span.convo-title {
      margin-top: 0.625rem;
      padding-left: 1rem;
      margin-bottom: -10px;
      color: var(--text-secondary);
      font-weight: bold;
      text-transform: uppercase;
      font-size: 12px;
      width: 100%;
    }

    ul.rooms {
      width: 100%;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    li.pm {
      width: 200px;
      padding-top: -10px;
      padding-bottom: 1px;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;

      &:hover {
        background: var(--ui-settings-hover);
      }

      &.active {
        background: var(--ui-settings-active);
      }

      span.icon {
        color: var(--text-primary);

        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }

      span.content {
        color: var(--text-primary);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        span.username {
          font-size: 0.875rem;
        }

        span.status-text {
          font-size: 0.75rem;
          display: block;
        }
      }
      
    }

    li {
      margin-top: 0.5rem;
      width: 90%;
      padding-top: 0.5rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      cursor: pointer;

      &:hover {
        background: var(--ui-settings-hover);
      }

      &.active {
        background: var(--ui-settings-active);
      }

      span.icon {
        color: var(--text-primary);

        svg {
          width: 20px !important;
          height: 20px !important;
        }
      }
    }

    span.content {
      color: var(--text-primary);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  div.home {
    width: 100%;
    min-height: 100%;
    overflow: auto;

    div.header {
      width: 100%;
      height: 3rem;
      background: var(--chat-background);
      font-size: large;
      color: var(--chat-background);
      display: flex;
      box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
        0 2px 0 rgba(4, 4, 5, 0.05);
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  div.chat {
    width: calc(100% - 17.5rem);
    min-height: 100%;
    background: var(--chat-background);
    overflow: auto;

    div.header {
      width: 100%;
      height: 3rem;
      background: var(--chat-header-background);
      font-size: large;
      color: var(--chat-header-text);
      display: flex;
      box-shadow: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05),
        0 2px 0 rgba(4, 4, 5, 0.05);
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;

      div.between {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      h1.title {
        border-right-width: 1px;
        border-right-color: rgb(107 114 128);
        padding-right: 1rem;
      }

      div.tabs {
        display: flex;
        gap: 1rem;
        padding-left: 1rem;

        button {
          border-radius: 0.5rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          padding-left: 0.5rem;
          padding-right: 0.5rem;

          &:hover {
            background: var(--ui-settings-hover);
          }

          &.active {
            background: var(--ui-settings-active);
          }

          &.add-friend {
            background: var(--button-primary);
          }
        }
      }
    }

    div.body {
      width: 100%;
      height: calc(100% - 3rem);
    }
  }

  div.messages-wrapper {
    display: flex;
    min-width: 5px;
    height: 100%;
    flex-direction: column;
    justify-content: end;

    ul.messages {
      // overflow-y-auto w-full flex flex-col scrollbar-thin scrollbar-thumb-[#737d3c] scrollbar-thumb-rounded-full scrollbar-track-transparent relative break-all
      overflow-y: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      position: relative;
      word-break: break-all;
      padding-bottom: 20px;

      &::-webkit-scrollbar { 
        width: 0.5rem;
      }

      &::-webkit-scrollbar-thumb { 
        background: var(--scrollbar-thumb);
        border-radius: 5rem;
      }

      &::-webkit-scrollbar-track { 
        background: var(--scrollbar-track);
        border-radius: 5rem;
      } 

      &::-moz-scrollbar {
        width: 0.5rem;
      }

      &::-moz-scrollbar-thumb { 
        background: var(--scrollbar-thumb);
        border-radius: 5rem;
      }

      &::-moz-scrollbar-track { 
        background: var(--scrollbar-track);
        border-radius: 5rem;
      } 
      
      &::-ms-scrollbar {
        width: 0.5rem;
      }

      &::-ms-scrollbar-thumb { 
        background: var(--scrollbar-thumb);
        border-radius: 5rem;
      }

      &::-ms-scrollbar-track { 
        background: var(--scrollbar-track);
        border-radius: 5rem;
      } 
    }
  }
}

// Context Menu Stuff
div[data-radix-popper-content-wrapper] {
  background: var(--ui-context-menu);
  color: var(--ui-context-menu-text);
  border-radius: 6px;

  div {
    border: none;

    div[role="menuitem"] {
      outline: none !important;
      cursor: pointer;
      transition-duration: 500ms;

      &:hover {
        background: var(--ui-context-menu-hover);
      }
    }
  }

  .tooltip {
    background: black;

    div[role="menuitem"] {
      border-radius: none;
    }
  }
}

div.friends {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  span.count {
    text-transform: uppercase;
    font-weight: 700;
    color: var(--text-secondary);
    padding-bottom: 7px;
  }


    div.friend {
      display: flex;
      width: 100%;
      border-radius: 0.25rem;
      justify-content: space-between;
      padding: 0.5rem;
  
      div.info {
        display: flex;
        gap: 0.5rem;
        width: fit-content;
        align-items: center;
  
        span.username {
          font-size: 0.875rem;
          font-weight: 700;
          color: var(--text-primary);
        }
  
        span.status {
          color: var(--text-secondary);
          font-size: 0.875rem;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
  
      div.interactions {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: 1rem;
  
        button {
          width: 24px;
          height: 24px;
          color: var(--text-primary);
          background: var(--ui-input);
          opacity: 1;
          padding: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2.5rem;
        }
      }
  
      &:hover {
        cursor: pointer;
        background: var(--chat-input);
      }
    }

    &::-webkit-scrollbar { 
      width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb { 
      background: var(--scrollbar-thumb);
      border-radius: 5rem;
    }

    &::-webkit-scrollbar-track { 
      background: var(--scrollbar-track);
      border-radius: 5rem;
    } 

    &::-moz-scrollbar {
      width: 0.5rem;
    }

    &::-moz-scrollbar-thumb { 
      background: var(--scrollbar-thumb);
      border-radius: 5rem;
    }

    &::-moz-scrollbar-track { 
      background: var(--scrollbar-track);
      border-radius: 5rem;
    } 
    
    &::-ms-scrollbar {
      width: 0.5rem;
    }

    &::-ms-scrollbar-thumb { 
      background: var(--scrollbar-thumb);
      border-radius: 5rem;
    }

    &::-ms-scrollbar-track { 
      background: var(--scrollbar-track);
      border-radius: 5rem;
    } 
}

div.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  div.backdrop {
    background: var(--ui-backdrop);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.card {
      padding: 1rem;
      background: var(--ui-card);
      border-radius: 7px;

      h1.title {
        color: var(--text-primary);
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.1rem;
      }

      input {
        background: var(--ui-input);
        border-radius: 5px;
        border: 1px solid var(--button-primary);
        color: var(--text-primary);

        &::placeholder {
          color: gray;
        }
      }

      button {
        border-radius: 5px;
        color: var(--text-primary);
      }
    }

    div.card-2 {
      width: 100%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      background: var(--ui-card-2);
      border-radius: 7px;

      button {
        border-radius: 5px;
        color: var(--text-primary);
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
  }

  div.no-backdrop {
    background: var(--ui-settings);
    width: 100%;
    height: 100%;
  }

  div.wrapper {
    display: flex;
    width: 100%;
    height: 100%;

    div.sidebar {
      background: var(--ui-settings-sidebar);
      width: 17.5rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      overflow-y: auto;

      ul {
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        li {
          font-size: large;
          text-transform: capitalize;
          color: var(--ui-settings-text);
          padding: 0.25rem 0.5rem 0.25rem 0.5rem;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background: var(--ui-settings-hover);
          }

          &.active {
            background: var(--ui-settings-active);
          }
        }
      }
    }

    div.settings {
      background: var(--ui-settings);
      height: 100%;
      width: calc(100% - 17.5rem);

      div.header {
        width: 100%;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;

        h1.title {
          color: var(--chat-header-text);
          font-size: large;
          text-transform: uppercase;
          font-weight: bold;
        }

        svg.close {
          fill: var(--button-primary);
          transform: scale(1.25);
        }
      }

      div.body {
        width: 100%;
        height: calc(100% - 2.5rem);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 1rem 2.5rem 1rem 2.5rem;

        div.account-card {
          width: 97%;
          display: flex;
          flex-direction: column;

          div.banner-container {
            width: 100%;
            height: 6rem;
            margin-top: 1rem;
            position: relative;

            div.wrapper {
              width: 100%;
              height: 100%;

              div.banner {
                width: 100%;
                height: 100%;
                border-top-left-radius: 0.75rem;
                border-top-right-radius: 0.75rem;
              }
            }
          }

          div.header {
            display: flex;
            margin-left: 1rem;
            margin-right: 1rem;

            div.placeholder {
              position: absolute;
              top: 4rem;
              border-radius: 100%;
              border: var(--ui-card) 0.5rem solid;
              background: black;
              width: 80px;
              height: 80px;
            }

            img.avatar {
              position: absolute;
              top: 4rem;
              border-radius: 100%;
              border: var(--ui-card) 0.25rem solid;
            }

            input.avatar {
              width: 80px;
              height: 80px;
              position: absolute;
              top: 4rem;
              border-radius: 100%;
              opacity: 0;
              cursor: pointer;
            }
          }

          p.username {
            position: absolute;
            left: 7.75rem;
            top: 6rem;
            color: var(--text-primary);
            font-size: x-large;
          }

          div.body {
            width: 100%;
            height: fit-content;
            background: var(--ui-card);
            border-bottom-left-radius: 0.75rem;
            border-bottom-right-radius: 0.75rem;

            div.input {
              width: 100%;
              background: var(--chat-input);
              display: flex;
              align-items: center;
              padding-top: 0.5rem;
              padding-bottom: 0.5rem;
              padding-left: 1rem;
              padding-right: 1rem;
              border-radius: 0.5rem;
              gap: 1rem;

              span.icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;

                svg {
                  width: 32px;
                  height: 32px;
                  color: var(--text-primary);
                }
              }

              div.info {
                width: calc(100% - 3.5rem);
                height: 40px;
                display: flex;
                flex-direction: column;

                span.title {
                  font-size: small;
                  text-transform: uppercase;
                  font-weight: 700;
                  color: var(--text-secondary);
                }

                span.content {
                  color: var(--text-tertiary);
                }
              }
            }
          }
        }
      }
    }
  }
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  color: grey;
  cursor: text;
}

div.status-online {
  background-color: #22c55e;
}

div.status-offline {
  background-color: #6b7280;
}

div.status-idle {
  background-color: #eab308;
}

div.status-dnd {
  background-color: #ef4444;
}

div.status-coding {
  background-color: #3b82f6;
}

div.status-streaming {
  background-color: #a855f7;
}

div.status-sleeping {
  background-color: #f97316;
}

li.message {
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  div.options {
    display: none;
    position: absolute;
    background: var(--ui-context-menu);
    right: 1.25rem;
    transform: translateY(-1.25rem);
    border-radius: 1rem;
    z-index: 999;

    div.icon {
      width: inherit;
      height: inherit;
      display: flex;
      align-items: center;
    }

    & > :first-child {
      span.icon {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
      }
    }

    & > :last-child {
      span.icon {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
      }
    }

    span.icon {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      &:hover {
        background: var(--ui-context-menu-hover);
      }

      svg {
        color: var(--text-primary);
        padding: 0.5rem;

        &.danger {
          color: var(--danger);
        }
      }
    }
  }

  div.message-wrapper {
    display: flex;
    padding: 0.125rem;
    padding-inline-end: 1rem;


    div.author-container {
      width: 62px;
      display: flex;
      flex-shrink: 0;
      padding-top: 0.125rem;
      padding-bottom: 0.125rem;
      justify-content: center;

      div.author-wrapper {
        border-radius: 100%;
        overflow: hidden;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:active {
          transform: translateY(0.125rem);
        }
      }

      time {
        font-size: 0.75rem;
        opacity: 0;
        color: var(--text-secondary);
        font-weight: 700;
      }
    }

    div.content-container {
      position: relative;
      min-width: 0px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 0.875rem;

      span.info {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        flex-shrink: 0;

        span.username {
          color: var(--text-primary);
          overflow: hidden;
          cursor: pointer;
          text-overflow: ellipsis;
          white-space: normal;
          font-weight: 700;
        }

        time {
          flex-shrink: 0;
          font-size: 0.75rem;
          color: var(--text-secondary);
        }
      }

      span.message-edtitable {
        padding: 0.5rem;
        border-radius: 0.75rem;
        overflow-y: auto;
        width: 100%;
        background: var(--chat-input);
        outline: none;
      }

      span.content {
        user-select: text;
      }

      span.edited {
        color: var(--text-secondary);
        font-size: 10px;
        margin-top: 0.15rem;
        margin-left: 0.25rem;
      }
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
.error-message {
  font-size: small;
  text-align: left;
}
.error-message-content {
  font-size: small;
  text-align: left;
}