@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-main: rgb(32, 32, 32);
  --button-primary: rgb(239, 68, 68);
}

div#app-root {
  width: 100vw;
  height: 100vh;
}

div#app-root {
  background: var(--background-main);
}